.content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
}


.box {
    width: 8rem;
    height: 8rem;
    background-color: blue;
    margin: 15px;
  }